{% extends "base" %}

{% block content %}
    <div>
        <h1>Hi 👋, my name is {{first_name}} {{last_name}}!</h1>
        <p> I am a {{job.title}} at <a href="{{job.link}}">{{job.company}}</a>.</p>
    </div>
{% endblock content %}
